{% extends 'base.html' %}

{% block title %}
　　Top10
{% endblock %}

{% block header %}
  <h1>The most popular 10 songs of an artist</h1>
{% endblock %}

{% block content %}
  
  <form method="post">
    <label for="client_id">Client ID</label>
    <input name="client_id" id="username" required>
    <label for="client_secret">Client Secret</label>
    <input type="password" name="client_secret" id="client_secret" required>

    <label for="artist_id">Aritst ID</label>
    <input name="artist_id" id="artist_id" required>
    <input type="submit" value="Get Data">
  </form>
{% endblock %}

{% block script %}
<script>
  var myData = {{data|safe}};
  new d3plus.Pie()
    .config({
      data: myData,
      groupBy: "song_name",
      value: function(d) {
        return 1;
      },
      tooltipConfig: {
        tbody: [
          ["danceability", function(d) { return d["danceability"] }],
          ["energy", function(d) { return d["energy"] }],
          ["key", function(d) { return d["key"] }],
          ["loudness", function(d) { return d["loudness"] }],
          ["mode", function(d) { return d["mode"] }],
          ["speechiness", function(d) { return d["speechiness"] }],
          ["acousticness", function(d) { return d["acousticness"] }],
          ["instrumentalness", function(d) { return d["instrumentalness"] }],
          ["liveness", function(d) { return d["liveness"] }],
          ["valence", function(d) { return d["valence"] }],
          ["tempo", function(d) { return d["tempo"] }],
        ]
      }
    })
    .render();
  </script>
{% endblock %}