{% extends 'base.html' %}

{% block title %}
　　Top10
{% endblock %}

{% block header %}
  <h1>The most popular 10 songs of an artist {{ ' : ' + artist_name}}</h1>
{% endblock %}

{% block content %}
  
  <form method="post">
    {% if is_first_time_login %}
      <label for="client_id">Client ID</label>
      <input name="client_id" id="username" value="{{ request.form['client_id'] }}" required>
      <label for="client_secret">Client Secret</label>
      <input type="password" name="client_secret" id="client_secret" value="{{ request.form['client_secret'] }}" required>
    {% else %}
      <label for="client_id" style="display:none;">Client ID</label>
      <input name="client_id" id="username" value="{{ request.form['client_id'] }}" type="hidden" style="display:none;" required>
      <label for="client_secret" style="display:none;">Client Secret</label>
      <input type="password" name="client_secret" id="client_secret" value="{{ request.form['client_secret'] }}" style="display:none;" required>
    {% endif %}
      <label for="artist_id">Aritst ID</label>
      <input name="artist_id" id="artist_id" value="{{ request.form['artist_id'] }}" required>
      <input type="submit" value="Get Data">
  </form>
{% endblock %}

{% block script %}
{% if data %}
<script>
  var musicData = {{data|safe}};
  new d3plus.Pie()
    .config({
      data: musicData,
      groupBy: "song_name",
      value: function(d) {
        return 1;
      },
      tooltipConfig: {
        tbody: [
          ["danceability", function(d) { return d["danceability"] }],
          ["energy", function(d) { return d["energy"] }],
          ["key", function(d) { return d["key"] }],
          ["loudness", function(d) { return d["loudness"] }],
          ["mode", function(d) { return d["mode"] }],
          ["speechiness", function(d) { return d["speechiness"] }],
          ["acousticness", function(d) { return d["acousticness"] }],
          ["instrumentalness", function(d) { return d["instrumentalness"] }],
          ["liveness", function(d) { return d["liveness"] }],
          ["valence", function(d) { return d["valence"] }],
          ["tempo", function(d) { return d["tempo"] }],
        ]
      }
    })
    .render();
  </script>
{% endif %}
{% endblock %}